html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 400;

  color: var(--white);
  background-color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
  padding: 0;
  line-height: 0;
}

input {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.accent {
  color: var(--yellow);
}
