.container {
  padding-left: 20px;
  padding-right: 20px;
}

/* MOBILE ADAPTIVE */
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* DESKTOP 1280*/
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* DESKTOP 1440 */
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
