.about-us-container {
  padding-top: 40px;
  padding-bottom: 62px;
}

.about-us-background-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}

.about-us-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.about-us-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.03em;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: rgba(252, 249, 249, 0.4);
  line-height: normal;
  letter-spacing: -0.04em;
}

.about-us-img {
  background-image: url(../../img/about-us/background/about-us-bg-mobile.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
  background-size: 251px 408px;
}

@media screen and (min-resolution: 192dpi) and (min-width: 375px),
  screen and (min-resolution: 2dppx) and (min-width: 375px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 375px) {
  .about-us-img {
    background-image: url(../../img/about-us/background/about-us-bg-mobile@2x.png);
  }
}

/* =====================TABLET================== */

@media screen and (min-width: 768px) {
  .about-us-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .about-us-background-container {
    gap: 40px;
  }

  .about-us-title {
    font-size: 44px;
    line-height: 1.45;
  }

  .about-us-text {
    font-size: 16px;
  }

  .about-us-img {
    background-image: url(../../img/about-us/background/about-us-bg-tablet.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 100%;
    background-size: 368px 484px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .about-us-img {
    background-image: url(../../img/about-us/background/about-us-bg-tablet@2x.png);
  }
}
/* ==================DESKTOP 1280px================== */

@media screen and (min-width: 1280px) {
  .about-us-container {
    padding-top: 75px;
    padding-bottom: 80px;
  }

  .about-us-background-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .about-us-text {
    width: 436px;
  }

  .about-us-img {
    background-image: url(../../img/about-us/background/about-us-bg-desktop-1280.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 100%;
    background-size: 384px 484px;
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
  .about-us-img {
    background-image: url(../../img/about-us/background/about-us-bg-desktop-1280@2x.png);
  }
}

/* ======================DESKTOP 1440px================ */

@media screen and (min-width: 1440px) {
  .about-us-text {
    width: 481px;
  }

  .about-us-img {
    background-image: url(../../img/about-us/background/about-us-bg-desktop-1440.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 100%;
    background-size: 545px 484px;
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 1440px),
    screen and (min-resolution: 2dppx) and (min-width: 1440px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
    .about-us-img {
      background-image: url(../../img/about-us/background/about-us-bg-desktop-1440@2x.png);
    }
  }
}
