.our-colection {
  padding-top: 18px;
  padding-bottom: 80px;
}
.name-colections {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}
.list-colections {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.name-colections-item {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 18px;
  margin-bottom: 8px;
  letter-spacing: 0.7px;
}
.colections-text {
  color: rgba(252, 249, 249, 0.4);
}

@media screen and (min-width: 768px) {
  .our-colection {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .item-colection {
    width: calc((100% - 20px) / 2);
  }
  .name-colections {
    font-size: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .our-colection {
    padding-top: 70px;
    padding-bottom: 150px;
  }
  .item-colection {
    width: calc((100% - 40px) / 3);
  }
  .list-colections {
    gap: 40px 20px;
  }
}
@media screen and (min-width: 1440px) {
  .list-colections {
    justify-content: center;
  }
}
