.our-colection{
margin-bottom: 80px;
}
.name-colections{
    margin-top: 18px;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}
.list-colections{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.name-colections-item{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 18px;
    margin-bottom: 8px;
    letter-spacing: 0.7px;
}
.colections-text{
    color: rgba(252, 249, 249, 0.40);
}
.card-img{
    border-radius: 4px;
}
@media screen and (min-width:768px) {
    .name-colections{
        font-size: 44px;
    }
}
@media screen and (min-width:1280px) {
    .list-colections{
        gap: 40px 20px;
    }
}
@media screen and (min-width:1440px) {
    .list-colections{
        justify-content: center;
    }
    
}