.our-colection {
  padding-top: 18px;
  padding-bottom: 80px;
  background-image: url(../../img/our-collection/background/collection-bg-mobile.png);
  background-repeat: no-repeat;
  background-position: 0 306px;
}
.name-colections {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}
.list-colections {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.name-colections-item {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 18px;
  margin-bottom: 8px;
  letter-spacing: 0.7px;
  transition: color var(--timing-function);
}
.colections-text {
  color: rgba(252, 249, 249, 0.4);
  transition: color var(--timing-function);
}

.section-colection {
  transition: border var(--timing-function), box-shadow var(--timing-function);
}

.section-colection > img {
  min-width: 335px;
}

.section-colection:hover {
  border: 2px solid var(--yellow);
  border-radius: 4px;
  padding: 8px;
  box-shadow: inset 0 0 15px var(--yellow);
}

.section-colection:hover .name-colections-item {
  color: var(--yellow);
}

.section-colection:hover .colections-text {
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .our-colection {
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: url(../../img/our-collection/background/collection-bg-tablet.png);
    background-repeat: no-repeat;
    background-position: 0 255px;
  }
  .item-colection {
    width: calc((100% - 20px) / 2);
  }
  .name-colections {
    font-size: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .our-colection {
    padding-top: 70px;
    padding-bottom: 150px;
    background-image: url(../../img/our-collection/background/collection-bg-desktop-1280.png);
    background-repeat: no-repeat;
    background-position: 0 278px;
  }
  .item-colection {
    width: calc((100% - 40px) / 3);
  }
  .list-colections {
    gap: 40px 20px;
  }
}
@media screen and (min-width: 1440px) {
  .our-colection {
    background-image: url(../../img/our-collection/background/collection-bg-desktop-1440.png);
    background-repeat: no-repeat;
    background-position: 0 288px;
  }
  .list-colections {
    justify-content: center;
  }
}
