/* ==== Mobile ==== */

.testimonials-section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.testimonials-title {
  padding-bottom: 40px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.96px;
}

.user-avatar {
  position: absolute;
  top: -100%;
}

.user-content {
  position: relative;

  display: flex;
  padding-top: 24px;
  flex-direction: column;
  align-items: center;

  box-shadow: 0px 2px 32px 4px rgba(18, 20, 23, 0.02);
}

.user-content-picture {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  height: 24px;

  margin-bottom: 20px;
}

.user-content-text {
  position: relative;
  display: flex;
  width: 335px;
  padding: 0px 18px 18px 18px;
  flex-direction: column;
  align-items: center;

  justify-content: end;

  border-radius: 4px;
  border: 1px solid rgba(252, 249, 249, 0.1);
}

.user-name {
  color: var(--white);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;

  margin-bottom: 8px;
}

.testimonials-list-item {
  align-items: center;
}

.user-comment-text {
  color: rgba(252, 249, 249, 0.4);
  text-align: center;
  line-height: normal;

  width: 291px;
}

.sergey-rybachok-comment,
.natalia-chatuk-comment {
  display: none;
}

/* ==== Tablet ==== */

@media screen and (min-width: 768px) {
  .sergey-rybachok-comment {
    display: block;
  }

  .testimonials-list {
    display: flex;
    gap: 32px;
  }

  .user-comment-text-info {
    justify-content: center;
    height: 214px;
  }

  .user-comment-text {
    font-size: 16px;
    width: 300px;
  }

  .user-content-text {
    justify-content: center;
  }

  .testimonials-title {
    font-size: 44px;
    line-height: 1.45;
    letter-spacing: -1.32px;
  }
}

/* ==== Desktop - 1280px ==== */

@media screen and (min-width: 1280px) {
  .testimonials-list {
    gap: 26px;
  }

  .natalia-chatuk-comment {
    display: block;
  }

  .user-comment-text {
    width: 306px;
  }

  .user-content-text {
    width: 343px;
  }

  .user-comment-text-info {
    height: 214px;
  }
}

/* ==== Desktop - 1440px ==== */

@media screen and (min-width: 1440px) {
  .user-comment-text {
    width: 360px;
  }

  .user-content-text {
    width: 396px;
  }

  .user-comment-text-info {
    height: 192px;
  }
}
