.order-background-container {
  background-image: url(../../img/your-order/girl-in-shirt-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 550px;
  margin-bottom: 80px;
}

@media screen and (min-resolution: 192dpi) and (min-width: 376px),
  screen and (min-resolution: 2dppx) and (min-width: 375px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 375px) {
  .order-background-container {
    background-image: url(../../img/your-order/girl-in-shirt-mobile@2x.jpg);
  }
}

.form-text {
  color: var(--white);
  font-family: Manrope;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
  max-width: 335px;
}

.order-span {
  color: var(--yellow);
}

.order-img {
  display: none;
}

.order-form-input {
  display: flex;
  width: 100%;
  padding: 14px 16px;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 26px;
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
}

.order-textarea {
  display: flex;
  padding: 14px 16px;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  width: 100%;
  height: 196px;
  resize: none;
  border-radius: 8px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
}

.textarea-container {
  margin-bottom: 40px;
}

.order-form-btn {
  color: var(--white);
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.04;
  text-transform: uppercase;
  display: flex;
  min-width: 145px;
  height: 49px;
  padding: 14px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  cursor: pointer;
  margin: 0 auto;
}
