.order-section {
  padding-top: 50px;
  padding-bottom: 40.5px;
}

.order-background-container {
  background-image: url(../../img/your-order/girl-in-shirt-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 550px;
  margin-bottom: 80px;
}

@media screen and (min-resolution: 192dpi) and (min-width: 375px),
  screen and (min-resolution: 2dppx) and (min-width: 375px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 375px) {
  .order-background-container {
    background-image: url(../../img/your-order/girl-in-shirt-mobile@2x.jpg);
  }
}

.form-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}

.order-form-input {
  width: 100%;
  padding: 14px 16px;
  margin-bottom: 26px;
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  transition: border-color var(--timing-function);
  outline: transparent;

  color: var(--white);
}

.order-form-input:focus {
  border-color: rgba(252, 249, 249, 0.6);
}

.order-textarea {
  display: flex;
  padding: 14px 16px;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  width: 100%;
  height: 196px;
  resize: none;
  border-radius: 8px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  outline: transparent;

  color: var(--white);
}

.order-textarea:focus {
  border-color: rgba(252, 249, 249, 0.6);
}

.order-form-input::placeholder,
.order-textarea::placeholder {
  color: rgba(252, 249, 249, 0.5);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.textarea-container {
  margin-bottom: 40px;
}

.order-form-btn {
  color: var(--white);
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.04;
  text-transform: uppercase;
  display: flex;
  min-width: 145px;
  height: 49px;
  padding: 14px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  cursor: pointer;
  margin: 0 auto;
}

.order-form-btn:hover,
.order-form-btn:focus {
  border-color: var(--yellow);
}

.order-img {
  display: none;
}

/* ====================================TABLET ========================================*/
@media screen and (min-width: 768px) {
  .order-form-container {
    padding-bottom: 80px;
  }

  .order-background-container {
    background-image: url(../../img/your-order/girl-in-shirt-tablet.jpg);
    width: 100%;
    min-height: 776px;
    margin-bottom: 80px;
  }

  .form-title {
    color: var(--white);
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.32;
    letter-spacing: -0.03em;
    max-width: 542px;
  }

  .order-form-input {
    max-width: 508px;
  }

  .order-form-input::placeholder {
    font-size: 16px;
  }

  .order-textarea {
    max-width: 508px;
  }

  .order-form-btn {
    font-size: 16px;
    max-width: 168px;
    height: 50px;
    margin: 0;
    padding: 14px 39px;
    margin-bottom: 100px;
  }

  .order-img {
    display: block;
    border-radius: 4px;
    height: 521px;
    margin-left: auto;
  }

  .order-form-container {
    background-image: url(../../img/your-order/background/your-order-bg-desktop-tablet.png);
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 100%;
    background-size: 322px 484px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .order-background-container {
    background-image: url(../../img/your-order/girl-in-shirt-tablet@2x.jpg);
  }
  .order-form-container {
    background-image: url(../../img/your-order/background/your-order-bg-desktop-tablet@2x.png);
  }
}
/* ====================================TABLET ========================================*/

/* ====================================DESKTOP1280 ========================================*/
@media screen and (min-width: 1280px) {
  .order-section {
    padding-bottom: 75px;
  }

  .order-background-container {
    background-image: url(../../img/your-order/girl-in-shirt-desktop-1280.jpg);
    /* background-size: contain; */
  }

  .order-form-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
  }

  .order-form-wrap {
    display: block;
  }

  .order-pic {
    max-width: 524px;
  }

  .order-form-container {
    background-position-y: 66%;
  }

  .order-form-btn {
    margin-bottom: unset;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
  .order-background-container {
    background-image: url(../../img/your-order/girl-in-shirt-desktop-1280@2x.jpg);
  }
  .order-form-container {
    background-image: url(../../img/your-order/background/your-order-bg-desktop-1280@2x.png);
  }
}
/* ====================================DESKTOP1280 ========================================*/

/* ====================================DESKTOP1440 ========================================*/
@media screen and (min-width: 1440px) {
  .order-section {
    padding-top: 75px;
  }

  .order-background-container {
    background-image: url(../../img/your-order/girl-in-shirt-desktop-1440.jpg);
  }

  .form-title {
    max-width: 666px;
  }

  .order-form-container {
    background-position-x: -0.5%;
  }

  .order-form-input {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
  screen and (min-resolution: 2dppx) and (min-width: 1440px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
  .order-background-container {
    background-image: url(../../img/your-order/girl-in-shirt-desktop-1440@2x.jpg);
  }

  .order-form-container {
    background-image: url(../../img/your-order/background/your-order-bg-desktop-1440@2x.png);
  }
}
/* ====================================DESKTOP1440 ========================================*/
