<footer class="footer-section">
  <div class="container footer-wrap">
    <ul class="footer-list">
      <li class="footer-list-items">
        <a class="footer-list-links" href="#about-us">About</a>
      </li>
      <li class="footer-list-items">
        <a class="footer-list-links" href="#our-collection">Our collection</a>
      </li>
      <li class="footer-list-items">
        <a class="footer-list-links" href="#customer-order">Customer order</a>
      </li>
      <li class="footer-list-items">
        <a class="footer-list-links" href="#testimonials">Testimonials</a>
      </li>
    </ul>

    <h2 class="footer-title">
      A touch of <span class="accent">Ukrainian</span> culture in every
      embroidery
    </h2>
  </div>
</footer>
