<header>
  <div class="container header-section">
    <a href="./index.html" class="logo-header"
      ><img src="./img/logo.svg" alt="logo" />
    </a>
    <nav class="header-navigation">
      <ul class="header-nav-list">
        <li><a href="#about-us" class="header-nav-links">about us</a></li>
        <li>
          <a href="#our-collection" class="header-nav-links">our collection</a>
        </li>
        <li>
          <a href="#customer-order" class="header-nav-links">customer order</a>
        </li>
        <li>
          <a href="#testimonials" class="header-nav-links">testimonials</a>
        </li>
      </ul>
    </nav>
    <a href="tel:+380684439426" class="phone-link">+380 (68) 443-94-26</a>
    <ul class="social-list">
      <li>
        <a href="https://www.facebook.com/goITclub/" class="social-link">
          <svg width="28" height="28">
            <use href="./img/sprite.svg#facebook-icon"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/goitclub/" class="social-link">
          <svg width="28" height="28">
            <use href="./img/sprite.svg#instagram-icon"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/c/GoIT" class="social-link">
          <svg width="28" height="28">
            <use href="./img/sprite.svg#you-tube-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="mobile-menu-open-btn" type="button" data-menu-open>
      <svg width="44" height="30">
        <use href="./img/sprite.svg#burger-icon"></use>
      </svg>
    </button>
  </div>
</header>
