<section>
  <div class="container hero-section">
    <picture class="hero-main-img">
      <source
        media="(min-width: 1280px)"
        srcset="
          ./img/hero/girl-desktop-1280.jpg    1x,
          ./img/hero/girl-desktop-1280@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="./img/hero/girl-tablet.jpg 1x, ./img/hero/girl-tablet@2x.jpg 2x"
      />
      <source
        media="(max-width: 767px)"
        srcset="./img/hero/girl-mobile.jpg 1x, ./img/hero/girl-mobile@2x.jpg 2x"
      />
      <img src="./img/hero/girl-mobile.jpg" alt="girl" width="335" />
    </picture>

    <div class="hero-content-wrap">
      <div class="hero-title-wrap">
        <h1 class="hero-title">
          Reviving the traditional
          <span class="accent">Ukrainian</span> artistry in every stitch.
        </h1>
        <div class="hero-icon-wrap">
          <img
            src="./img/hero/hero-star.svg"
            alt="sun"
            width="52"
            height="51"
          />
          <p class="hero-made-description">all embroidery is made by hand</p>
        </div>
      </div>
      <a href="#customer-order" class="hero-btn">
        Order

        <svg width="36" height="19">
          <use href="./img/sprite.svg#arrow-icon"></use>
        </svg>
      </a>
    </div>
    <div class="ornament-img-wrap">
      <img
        class="ornament-hero-img"
        srcset="./img/hero/ornament@2x.jpg 2x"
        src="./img/hero/ornament.jpg"
        alt="ornament"
        width="139"
        height="99"
      />
    </div>
  </div>
</section>
