<div class="modal-window" data-menu>
  <div class="modal-wrapper">
    <a class="modal-telephone" href="tel:+380684439426">+380 (68) 443-94-26</a
    ><button class="modal-close-btn" data-menu-close>
      <svg class="modal-close-icon" width="36" height="36">
        <use href="./img/sprite.svg#close-btn-icon"></use>
      </svg>
    </button>
  </div>
  <nav class="modal-nav">
    <ul class="modal-nav-list">
      <li class="modal-nav-item">
        <a class="modal-nav-link" href="">About us</a>
      </li>
      <li class="modal-nav-item">
        <a class="modal-nav-link" href="">Our collection </a>
      </li>
      <li class="modal-nav-item">
        <a class="modal-nav-link" href="">Customer order</a>
      </li>
      <li class="modal-nav-item">
        <a class="modal-nav-link" href="">Testimonials</a>
      </li>
    </ul>
  </nav>
</div>
