<section class="" id="our-collection">
    <div class="our-colection container">
        <h2 class="name-colections">Our collection</h2>
        <ul class="list-colections">
          <li class="item-colection">
            <div class="section-colection">
              <picture>
                  <!-- Desktop screen 1440 -->
  
                <source media="(min-width: 1440px)" srcset="./img/our-collection/august-poltava/august-poltava-desktop-1440.jpg 1x, ./img/our-collection/august-poltava/august-poltava-desktop-1440@2x.jpg 2x" type="image/jpg" />
                <!-- Desktop screen 1280 -->
  
                <source media="(min-width: 1280px)" srcset="./img/our-collection/august-poltava/august-poltava-desktop-1280.jpg 1x, ./img/our-collection/august-poltava/august-poltava-desktop-1280@2x.jpg 2x" type="image/jpg" />
                <!-- Tablet screen -->
  
                <source media="(min-width: 768px)" srcset="./img/our-collection/august-poltava/august-poltava-tablet.jpg 1x, ./img/our-collection/august-poltava/august-poltava-tablet@2x.jpg 2x" type="image/jpg" />
                <!-- Mobile screen -->
  
                <source media="(max-width: 767px)" srcset="./img/our-collection/august-poltava/august-poltava-mobile.jpg 1x, ./img/our-collection/august-poltava/august-poltava-mobile@2x.jpg 2x" type="image/jpg" />
                <img class="card-img" src="./img/our-collection/august-poltava/august-poltava-mobile.jpg" alt="embroidered shirt" width="335" height="400" loading="lazy" />
              </picture>
              <h3 class="name-colections-item">AUGUST Poltava women's blouseRING</h3>
              <p class="colections-text">3300 UAH</p>
            </div>
          </li>
          <li class="item-colection">
            <div class="section-colection">
              <picture>
                  <!-- Desktop screen 1440 -->
  
                <source media="(min-width: 1440px)" srcset="./img/our-collection/gorgany/gorgany-desktop-1440.jpg 1x, ./img/our-collection/gorgany/gorgany-desktop-1440@2x.jpg 2x" type="image/jpg" />
                <!-- Desktop screen 1280 -->
  
                <source media="(min-width: 1280px)" srcset="./img/our-collection/gorgany/gorgany-desktop-1280.jpg 1x, ./img/our-collection/gorgany/gorgany-desktop-1280@2x.jpg 2x" type="image/jpg" />
                <!-- Tablet screen -->
  
                <source media="(min-width: 768px)" srcset="./img/our-collection/gorgany/gorgany-tablet.jpg 1x, ./img/our-collection/gorgany/gorgany-tablet@2x.jpg 2x" type="image/jpg" />
                <!-- Mobile screen -->
  
                <source media="(max-width: 767px)" srcset="./img/our-collection/gorgany/gorgany-mobile.jpg 1x, ./img/our-collection/gorgany/gorgany-mobile@2x.jpg 2x" type="image/jpg" />
                <img class="card-img" src="./img/our-collection/gorgany/gorgany-mobile.jpg" alt="embroidered shirt" width="335" height="400" loading="lazy" />
              </picture>
              <h3 class="name-colections-item">Women's blouse Gorgany</h3>
              <p class="colections-text">3350 UAH</p>
            </div>
          </li>
          <li class="item-colection">
            <div class="section-colection">
              <picture>
                  <!-- Desktop screen 1440 -->
  
                <source media="(min-width: 1440px)" srcset="./img/our-collection/crimea/crimea-desktop-1440.jpg 1x, /img/our-collection/crimea/crimea-desktop-1440@2x.jpg 2x" type="image/jpg" />
                <!-- Desktop screen 1280 -->
  
                <source media="(min-width: 1280px)" srcset="./img/our-collection/crimea/crimea-desktop-1280.jpg 1x, /img/our-collection/crimea/crimea-desktop-1280@2x.jpg 2x" type="image/jpg" />
                <!-- Tablet screen -->
  
                <source media="(min-width: 768px)" srcset="./img/our-collection/crimea/crimea-tablet.jpg 1x, ./img/our-collection/crimea/crimea-tablet@2x.jpg 2x" type="image/jpg" />
                <!-- Mobile screen -->
  
                <source media="(max-width: 767px)" srcset="./img/our-collection/mountain/mountain-mobile.jpg 1x, ./img/our-collection/mountain/mountain-mobile@2x.jpg 2x" type="image/jpg" />
                <img class="card-img" src="./img/our-collection/mountain/mountain-mobile.jpg" alt="embroidered shirt" width="335" height="400" loading="lazy" />
              </picture>
              <h3 class="name-colections-item">Mountain men's shirt</h3>
              <p class="colections-text">3300 UAH</p>
            </div>
          </li>
          <li class="item-colection">
            <div class="section-colection">
              <picture>
                  <!-- Desktop screen 1440 -->
  
                <source media="(min-width: 1440px)" srcset="./img/our-collection/verkhovina/verkhovina-desktop-1440.jpg 1x, ./img/our-collection/verkhovina/verkhovina-desktop-1440@2x.jpg 2x" type="image/jpg" />
                <!-- Desktop screen 1280 -->
  
                <source media="(min-width: 1280px)" srcset="./img/our-collection/verkhovina/verkhovina-desktop-1280.jpg 1x, ./img/our-collection/verkhovina/verkhovina-desktop-1280@2x.jpg 2x" type="image/jpg" />
                <!-- Tablet screen -->
  
                <source media="(min-width: 768px)" srcset="./img/our-collection/verkhovina/verkhovina-tablet.jpg 1x, ./img/our-collection/verkhovina/verkhovina-tablet@2x.jpg 2x" type="image/jpg" />
                <!-- Mobile screen -->
  
                <source media="(max-width: 767px)" srcset="./img/our-collection/yasen/yasen-mobile.jpg 1x, ./img/our-collection/yasen/yasen-mobile@2x.jpg 2x" type="image/jpg" />
                <img class="card-img" src="./img/our-collection/yasen/yasen-mobile.jpg" alt="embroidered shirt" width="335" height="400" loading="lazy" />
              </picture>
              <h3 class="name-colections-item">Men's shirt Yasen</h3>
              <p class="colections-text">1700 UAH</p>
            </div>
          </li>
          <li class="item-colection">
            <div class="section-colection">
              <picture>
                  <!-- Desktop screen 1440 -->
  
                <source media="(min-width: 1440px)" srcset="./img/our-collection/mountain/mountain-desktop-1440.jpg 1x, ./img/our-collection/mountain/mountain-desktop-1440@2x.jpg 2x" type="image/jpg" />
                <!-- Desktop screen 1280 -->
  
                <source media="(min-width: 1280px)" srcset="./img/our-collection/mountain/mountain-desktop-1280.jpg 1x, ./img/our-collection/mountain/mountain-desktop-1280@2x.jpg 2x" type="image/jpg" />
                <!-- Tablet screen -->
  
                <source media="(min-width: 768px)" srcset="./img/our-collection/mountain/mountain-tablet.jpg 1x, ./img/our-collection/mountain/mountain-tablet@2x.jpg 2x" type="image/jpg" />
                <!-- Mobile screen -->
  
                <source media="(max-width: 767px)" srcset="./img/our-collection/crimea/crimea-mobile.jpg 1x, ./img/our-collection/crimea/crimea-mobile@2x.jpg 2x" type="image/jpg" />
                <img class="card-img" src="./img/our-collection/crimea/crimea-mobile.jpg" alt="embroidered shirt" width="335" height="400" loading="lazy" />
              </picture>
              <h3 class="name-colections-item">Women's blouse Crimea</h3>
              <p class="colections-text">4000 UAH</p>
            </div>
          </li>
          <li class="item-colection">
            <div class="section-colection">
              <picture>
                  <!-- Desktop screen 1440 -->
  
                <source media="(min-width: 1440px)" srcset="./img/our-collection/yasen/yasen-desktop-1440.jpg 1x, ./img/our-collection/yasen/yasen-desktop-1440@2x.jpg 2x" type="image/jpg" />
                <!-- Desktop screen 1280 -->
  
                <source media="(min-width: 1280px)" srcset="./img/our-collection/yasen/yasen-desktop-1280.jpg 1x, ./img/our-collection/yasen/yasen-desktop-1280@2x.jpg 2x" type="image/jpg" />
                <!-- Tablet screen -->
  
                <source media="(min-width: 768px)" srcset="./img/our-collection/yasen/yasen-tablet.jpg 1x, ./img/our-collection/yasen/yasen-tablet@2x.jpg 2x" type="image/jpg" />
                <!-- Mobile screen -->
  
                <source media="(max-width: 767px)" srcset="./img/our-collection/verkhovina/verkhovina-mobile.jpg 1x, ./img/our-collection/verkhovina/verkhovina-mobile@2x.jpg 2x" type="image/jpg" />
                <img class="card-img" src="./img/our-collection/verkhovina/verkhovina-mobile.jpg" alt="embroidered shirt" width="335" height="400" loading="lazy" />
              </picture>
              <h3 class="name-colections-item">Men's shirt Verkhovina</h3>
              <p class="colections-text">3100 UAH</p>
            </div>
          </li>
        </ul>
      </div>

</section>
