<section class="" id="our-collection">
    <div class="our-colection container">
        <h2 class="name-colections">Our collection</h2>
        <ul class="list-colections">
          <li class="item-colection">
            <div class="section-colection">
              <picture>
                  <!-- Desktop screen 1440 -->
  
                <source media="(min-width: 1440px)" srcset=". 1x,  2x" type="image/jpg" />
                <!-- Desktop screen 1280 -->
  
                <source media="(min-width: 1280px)" srcset=". 1x,  2x" type="image/jpg" />
                <!-- Tablet screen -->
  
                <source media="(min-width: 768px)" srcset=" 1x,  2x" type="image/jpg" />
                <!-- Mobile screen -->
  
                <source media="(max-width: 767px)" srcset=" 1x,  2x" type="image/jpg" />
                <img class="card-img" src="" alt="embroidered shirt" width="335" height="430" loading="lazy" />
              </picture>
              <h3 class="name-colections-item">AUGUST Poltava women's blouseRING</h3>
              <p class="colections-text">3300 UAH</p>
            </div>
          </li>
          <li class="item-colection">
            <div class="section-colection">
              <picture>
                  <!-- Desktop screen 1440 -->
  
                <source media="(min-width: 1440px)" srcset=". 1x,  2x" type="image/jpg" />
                <!-- Desktop screen 1280 -->
  
                <source media="(min-width: 1280px)" srcset=". 1x,  2x" type="image/jpg" />
                <!-- Tablet screen -->
  
                <source media="(min-width: 768px)" srcset=" 1x,  2x" type="image/jpg" />
                <!-- Mobile screen -->
  
                <source media="(max-width: 767px)" srcset=" 1x,  2x" type="image/jpg" />
                <img class="card-img" src="" alt="embroidered shirt" width="335" height="430" loading="lazy" />
              </picture>
              <h3 class="name-colections-item">Women's blouse Gorgany</h3>
              <p class="colections-text">3350 UAH</p>
            </div>
          </li>
          <li class="item-colection">
            <div class="section-colection">
              <picture>
                  <!-- Desktop screen 1440 -->
  
                <source media="(min-width: 1440px)" srcset=". 1x,  2x" type="image/jpg" />
                <!-- Desktop screen 1280 -->
  
                <source media="(min-width: 1280px)" srcset=". 1x,  2x" type="image/jpg" />
                <!-- Tablet screen -->
  
                <source media="(min-width: 768px)" srcset=" 1x,  2x" type="image/jpg" />
                <!-- Mobile screen -->
  
                <source media="(max-width: 767px)" srcset=" 1x,  2x" type="image/jpg" />
                <img class="card-img" src="" alt="embroidered shirt" width="335" height="430" loading="lazy" />
              </picture>
              <h3 class="name-colections-item">Mountain men's shirt</h3>
              <p class="colections-text">3300 UAH</p>
            </div>
          </li>
          <li class="item-colection">
            <div class="section-colection">
              <picture>
                  <!-- Desktop screen 1440 -->
  
                <source media="(min-width: 1440px)" srcset=". 1x,  2x" type="image/jpg" />
                <!-- Desktop screen 1280 -->
  
                <source media="(min-width: 1280px)" srcset=". 1x,  2x" type="image/jpg" />
                <!-- Tablet screen -->
  
                <source media="(min-width: 768px)" srcset=" 1x,  2x" type="image/jpg" />
                <!-- Mobile screen -->
  
                <source media="(max-width: 767px)" srcset=" 1x,  2x" type="image/jpg" />
                <img class="card-img" src="" alt="embroidered shirt" width="335" height="430" loading="lazy" />
              </picture>
              <h3 class="name-colections-item">Men's shirt Yasen</h3>
              <p class="colections-text">1700 UAH</p>
            </div>
          </li>
          <li class="item-colection">
            <div class="section-colection">
              <picture>
                  <!-- Desktop screen 1440 -->
  
                <source media="(min-width: 1440px)" srcset=". 1x,  2x" type="image/jpg" />
                <!-- Desktop screen 1280 -->
  
                <source media="(min-width: 1280px)" srcset=". 1x,  2x" type="image/jpg" />
                <!-- Tablet screen -->
  
                <source media="(min-width: 768px)" srcset=" 1x,  2x" type="image/jpg" />
                <!-- Mobile screen -->
  
                <source media="(max-width: 767px)" srcset=" 1x,  2x" type="image/jpg" />
                <img class="card-img" src="" alt="embroidered shirt" width="335" height="430" loading="lazy" />
              </picture>
              <h3 class="name-colections-item">Women's blouse Crimea</h3>
              <p class="colections-text">4000 UAH</p>
            </div>
          </li>
          <li class="item-colection">
            <div class="section-colection">
              <picture>
                  <!-- Desktop screen 1440 -->
  
                <source media="(min-width: 1440px)" srcset=". 1x,  2x" type="image/jpg" />
                <!-- Desktop screen 1280 -->
  
                <source media="(min-width: 1280px)" srcset=". 1x,  2x" type="image/jpg" />
                <!-- Tablet screen -->
  
                <source media="(min-width: 768px)" srcset=" 1x,  2x" type="image/jpg" />
                <!-- Mobile screen -->
  
                <source media="(max-width: 767px)" srcset=" 1x,  2x" type="image/jpg" />
                <img class="card-img" src="" alt="embroidered shirt" width="335" height="430" loading="lazy" />
              </picture>
              <h3 class="name-colections-item">Men's shirt Verkhovina</h3>
              <p class="colections-text">3100 UAH</p>
            </div>
          </li>
        </ul>
      </div>

</section>
