<section class="testimonials-section" id="testimonials">
  <div class="container">
    <h2 class="testimonials-title">Testimonials</h2>
    <ul class="testimonials-list">
      <li class="testimonials-list-item">
        <div class="user-content">
          <div class="user-content-text">
            <div class="user-content-picture">
              <picture class="user-avatar">
                <source
                  srcset="
                    ./img/testimonials/maria-tkachuk-desktop-1440.png,
                    ./img/testimonials/maria-tkachuk-desktop-1440@2x.png 2x
                  "
                  media="(min-width: 1440px)"
                />

                <source
                  srcset="
                    ./img/testimonials/maria-tkachuk-desktop-1280.png,
                    ./img/testimonials/maria-tkachuk-desktop-1280@2x.png 2x
                  "
                  media="(min-width: 1280px)"
                />

                <source
                  srcset="
                    ./img/testimonials/maria-tkachuk-tablet.png,
                    ./img/testimonials/maria-tkachuk-tablet@2x.png 2x
                  "
                  media="(min-width: 768px)"
                />

                <source
                  srcset="
                    ./img/testimonials/maria-tkachuk-mobile.png,
                    ./img/testimonials/maria-tkachuk-mobile@2x.png 2x
                  "
                  media="(max-width: 767px)"
                />

                <img
                  src="./img/testimonials/maria-tkachuk-mobile.png"
                  alt="Аватар користувача"
                  width="64"
                  height="64"
                />
              </picture>
            </div>
            <div class="user-comment-text-info">
              <h3 class="user-name">Maria Tkachuk</h3>
              <p class="user-comment-text">
                I was pleasantly surprised by the variety of embroidery offered
                by Vyshyvanka Vibes. They have models for every taste - from
                classic to modern. I bought an embroidered dress to celebrate a
                special occasion and received impeccable service and refinement
                in every detail.
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="testimonials-list-item sergey-rybachok-comment">
        <div class="user-content">
          <div class="user-content-text">
            <div class="user-content-picture">
              <picture class="user-avatar">
                <source
                  srcset="
                    ./img/testimonials/sergey-rybachok-desktop-1440.png,
                    ./img/testimonials/sergey-rybachok-desktop-1440@2x.png 2x
                  "
                  media="(min-width: 1440px)"
                />

                <source
                  srcset="
                    ./img/testimonials/sergey-rybachok-desktop-1280.png,
                    ./img/testimonials/sergey-rybachok-desktop-1280@x2.png 2x
                  "
                  media="(min-width: 1280px)"
                />

                <source
                  srcset="
                    ./img/testimonials/sergey-rybachok-tablet.png,
                    ./img/testimonials/sergey-rybachok-tablet@2x.png 2x
                  "
                  media="(min-width: 768px)"
                />

                <img
                  src="./img/testimonials/sergey-rybachok-tablet.png"
                  alt="Аватар користувача"
                  width="64"
                  height="64"
                />
              </picture>
            </div>
            <div class="user-comment-text-info">
              <h3 class="user-name">Sergey Rybachok</h3>
              <p class="user-comment-text">
                Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka
                are simply masterpieces! I fell in love with the quality of the
                materials and the skill of the artisans behind each product.
                This is my favorite embroidery shop where I always find
                something special and unique.
              </p>
            </div>
          </div>
        </div>
      </li>

      <li class="testimonials-list-item natalia-chatuk-comment">
        <div class="user-content">
          <div class="user-content-text">
            <div class="user-content-picture">
              <picture class="user-avatar">
                <source
                  srcset="
                    ./img/testimonials/natalia-chatuk-desktop-1440.png,
                    ./img/testimonials/natalia-chatuk-desktop-1440@x2.png 2x
                  "
                  media="(min-width: 1440px)"
                />

                <source
                  srcset="
                    ./img/testimonials/natalia-chatuk-desktop-1280.png,
                    ./img/testimonials/natalia-chatuk-desktop-1280@x2.png 2x
                  "
                  media="(min-width: 1280px)"
                />

                <img
                  src="./img/testimonials/natalia-chatuk-desktop-1280.png"
                  alt="Аватар користувача"
                  width="64"
                  height="64"
                />
              </picture>
            </div>
            <div class="user-comment-text-info">
              <h3 class="user-name">Natalia Chatuk</h3>
              <p class="user-comment-text">
                Vyshyvanka Vibes is a real find for everyone who appreciates
                Ukrainian culture. Their embroidery reflects the spirit and
                traditions of our people. I not only buy embroidered shirts for
                myself, but also give them to my friends abroad as a symbol of
                our beauty and national pride.
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
