<section class="order-section" id="custumer-order">
  <div class="order-background-container"></div>
  <div class="container">
    <div class="order-form-container">
      <p class="form-text">
        <span class="order-span">Your order</span> is our priority: Personalized
        approach and quality of service
      </p>
      <form class="order-form">
        <div class="order-form-wrap">
          <label class="order-form-label" for="user-name"></label>
          <input
            class="order-form-input"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Enter your full name"
            required
          />

          <label for="user-email" class="order-form-label"></label>
          <input
            class="order-form-input"
            type="email"
            name="user-email"
            id="user-email"
            placeholder="Enter your email"
            required
          />
        </div>
        <div class="textarea-container">
          <label for="user-comments" class="order-form-label"></label>
          <textarea
            class="order-textarea"
            id="user-comments"
            name="user-comments"
            placeholder="Comments"
          ></textarea>
        </div>
        <button class="order-form-btn" type="submit">
          Send
          <svg width="26" height="10">
            <use href="../img/sprite.svg#icon-arrow-icon"></use>
          </svg>
        </button>
      </form>
      <img
        class="order-img"
        srcset="
          ../img/your-order/shirt-and-jaket-tablet.jpg           638w,
          ../img/your-order/shirt-and-jaket-tablet@2x.jpg       1276w,
          ../img/your-order/shirt-and-jaket-desktop-1280.jpg     524w,
          ../img/your-order/shirt-and-jaket-desktop-1280@2x.jpg 1048w,
          ../img/your-order/shirt-and-jaket-desktop-1440.jpg     524w,
          ../img/your-order/shirt-and-jaket-desktop-1440@2x.jpg 1048w
        "
        sizes="(min-width: 1280px) 524px, (min-width: 768px) 638px"
        src="../img/your-order/shirt-and-jaket-tablet.jpg"
        alt="girl-in-shirt-and-jaket"
        width="638"
        height="521"
      />
    </div>
  </div>
</section>
